.jumbotron {
  padding-top: 5rem;
  background-color: rgb(162, 162, 243);
}

#Projects {
  background-color: rgb(162, 162, 243);
}

footer {
  background-color: rgb(38, 38, 139);
}

section {
  padding-top: 4rem;
}
